@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: "#C3EAC6";
}

@font-face {
  font-family: "Sofia Pro";
  src: local("mmrtextb"), url("./assets/Fonts/mmrtextb.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}
